@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

/* css reset */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* wrapper */

.wrapper {
    background: beige;
    height: 100vh;
    font-family: 'Koulen', cursive;
    width: 100vw;
}

/* title */

.title > img {
    display: block;
    max-height: 30vh;
    max-width: 90vw;
    margin-right: auto;
    margin-left: auto;
    
}

/* score area */

.scores {
    font-weight: 1000;
}

.score-area {
    font-size: 1rem;
    letter-spacing: 2px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.space {
    padding-bottom: 5px;
}

/* game area */

.game-area {
    text-align: center;
}

/* result area */

.result-area {
    letter-spacing: 1px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1rem;
    padding-bottom: 30px;
}

/* buttons */

.btn {
    background-color: darkgreen;
    border-radius: 20%;
    border-color: transparent;
    box-shadow: 0 4px burlywood;
    font-size: 3rem;
    height: 60px;
    justify-content: space-around;
    margin: 10px 10px;
    width: 60px;
}

.btn:active {
    box-shadow: 0 5px darkgreen;
    transform: translateY(4px);
}

.btn--rock {
    background-image: url(/assets/images/rock.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 30px;
    padding-right: 30px;
}

.btn--paper {
    background-image: url(/assets/images/paper.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 30px;
    padding-right: 30px;
}

.btn--scissors {
    background-image: url(/assets/images/scissors.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 30px;
    padding-right: 30px;
}

.btn--lizard {
    background-image: url(/assets/images/lizard.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 30px;
    padding-right: 30px;
}

.btn--spock {
    background-image: url(/assets/images/spock.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 30px;
    padding-right: 30px;
}

/* media queries */

@media screen and (min-width:345px) {
.btn { 
    height: 70px;
    width: 70px;
}

.score-area {
    display: flex;
    justify-content: space-around;
    padding-right: 40px;
    padding-left: 40px;
}

.result-area {
    font-size: 1.5rem;
}

}

@media screen and (min-width:410px) {
    .btn {
        height: 80px;
        width: 80px;
    }
}

@media screen and (min-width: 490px) {
    .btn {
        height: 90px;
        width: 90px;
    }

    .score-area {
        font-size: 1.5rem;
    }

    .result-area {
        font-size: 2rem;
    }
}